<h3 class="text-muted">Single Order</h3>
<hr />

<app-single-order-form (fetchForm)="fetchForm($event)" [form]="form"> </app-single-order-form>

<div class="addLine float-right">
    <span class="error" *ngIf="displayGridErrorMessage">{{displayMinAndMaxErrorMsg()}} &nbsp;&nbsp;</span>
    <app-button (onButtonClick)="addRow()" [cls]="previousBtnClass" [previousIconClass]="previousIconClass" [text]="addLineText"></app-button>
</div>
<app-single-order-grid [data]="data" (deleteActionTrigger)="deleteAction($event)"></app-single-order-grid>
<div class="float-right">
    <app-button [text]="submitText" (onButtonClick)="onSubmit($event)" [cls]="submitBtnClass" [disabled]="isDisabled()"></app-button>&nbsp;
    <app-button [text]="cancelBtnText" [cls]="cancelBtnClass"></app-button> 
</div>
<ng-template #orderSuccessfullyCreated>
    <div>
        Order Created successfully your order number is 
        <a class="text-primary link" (click)="navigateToViewOrder()">#{{createdOrderNumber}}</a>
    </div>
</ng-template>