<nav class="navbar navbar-expand-sm d-flex justify-content-between">

  <div class="navbar-header">
     <a [routerLink]="headerData.logo.link">
      <img [class]="headerData.logo.imgClass" [src]="headerData.logo.path" [alt]="headerData.logo.alt" /> 
    </a>
    <a *ngFor="let item of headerData.leftLinks" [routerLink]="item.link" [class]="item.class" [title]="item.title" (click)="item.click(e)">
      <i [class]="item.icon" aria-hidden="true"></i>
    </a> 
  </div>

  <ul class="navbar-nav justify-content-end;">
    <li class="nav-item dropdown" *ngFor="let item of headerData.rightLinks">
      <a class="nav-link dropdown-toggle" [routerLink]="item.link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i [class]="item.icon" aria-hidden="true"></i>
        <span class="hide-on-mobile">{{item.name}}</span>
      </a>
      <div class="dropdown-menu" *ngIf="item.dropdown">
        <a class="dropdown-item" [routerLink]="subItem.link" *ngFor="let subItem of item.dropdown;">{{subItem.name}}</a>
      </div>
    </li>
  </ul>
</nav>