<ng-container>
    <div class="input-group input-group-sm">
        <input type="text" 
        [bsConfig]="{ containerClass: 'theme-dark-blue' }"
        [ngClass]="datepickerCls" 
        [class.background-white]=!isDisabled
        [placeholder]="placeholder" 
        [bsValue]="defaultDate" 
        [isDisabled]="isDisabled"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (bsValueChange)="onValueChange($event)"
        [bsConfig]="dateFormat"
        [readonly]="readonly"
        #dp="bsDatepicker"
        bsDatepicker
        [disabled]="isDisabled">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" [disabled]="isDisabled">
                <i class="fa fa-calendar"></i>
            </button>
        </div>
    </div>
</ng-container>    

