<h3 class="text-muted">Search</h3>
<hr />
<div class="search-panel">
    <app-search-panel [displayErrMessage]="displayErrMessage" [displayErr]="displayErr" (fetchForm)="fetchForm($event)" [form]="form"
        [formFields]="formFields" (reset)="reset($event)" (search)="search($event)"></app-search-panel>
</div>
<app-button [text]="headerUpdate" [disabled]="selectedRecords.length == 0" (onButtonClick)="navigateToHeaderUpdate()"></app-button>
<app-search-orders-grid (allSelect) = "allItemsSelected($event)" (rowSelect)="rowSelected($event)" [noDataFound]="noDataFound" [gridData]="data" (sort)="triggerSorting($event)"></app-search-orders-grid>
<ng-container *ngIf="data.length > page">
    <app-pagination [page]="page" (goPrev)="goPrev()" (goNext)="goNext()" (goPage) ="goPage($event)" (changeInPerPage)="changeInperPage($event)" [count]="total" [perPage]="limit" [pagesToShow]="numberOfPagesOptionsToBeDispalyed" [pageLimitArray]='pagesLimitArray'>
    </app-pagination>
</ng-container>