<app-panel [isFooterVisible]="detailsFooterVisible" [headerText]="detailsHeader">
  <div class="row">
    <div class="col-md-2" *ngFor="let orderData of detailsToBeDisplayed">
      <app-cards isCheckBoxtoChild="false">
        <div class="font-weight-bold">{{orderData.label}}</div>
        <div>{{formatTheTemplate(orderData)}}</div>
      </app-cards>
    </div>
  </div>
</app-panel>
<app-panel [isFooterVisible]="logisticsFooterVisible" [headerText]="logisticsHeader">
  <div class="row">
    <app-cards isCheckBoxtoChild="false" *ngFor="let logisticData of logisticDataToBeDisplayed">
      <div class="font-weight-bold">{{logisticData.label}}</div>
      <div>{{formatLogisticOrderData(logisticData)}}</div>
    </app-cards>
  </div>
</app-panel>

<app-grid [gridConfig]="gridConfig" [coloumnConfig]="coloumnConfig" [gridData]="data"></app-grid>
<app-button [text]="okButtonText" (onButtonClick)="navigate()" cls="btn btn-primary btn-sm pull-right"></app-button>
