.col-md-2:last-child {
    max-width: 26.666667% !important;
    flex: 0 0 26.666667% !important; 
}
.col-md-2 {
    flex: 0 0 14.666667% !important;
    max-width: 14.666667% !important;
}
.logisticTab {
    display: flex;
    margin: 0px 0.7em;
    align-items: center;
}
