<app-panel [isFooterVisible]="detailsFooterVisible" [headerText]="detailsHeader">
  <div class="row">
    <app-cards isCheckBoxtoChild="false" *ngFor="let orderData of detailsToBeDisplayed">
      <div>{{orderData.label}}</div>
      <div>{{formatTheTemplate(orderData)}}</div>
    </app-cards>
  </div>
</app-panel>
<app-panel [isFooterVisible]="logisticsFooterVisible" [headerText]="logisticsHeader">
  <app-cards isCheckBoxtoChild="false"></app-cards>
</app-panel>

<app-grid [gridConfig] = "gridConfig" [coloumnConfig] = "coloumnConfig" [gridData]="data"></app-grid>
<app-button [text]="okButtonText" (onButtonClick)="navigate()"></app-button>