<div class="row">
  <div class="col-md-12 pull-right mb-2">
    <a class="btn btn-outline-primary btn-sm pull-right" href="./../../../../../../../../assets/batch_upload_template.xlsx">
      <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Download Template
    </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <app-form (fetchForm)="fetchBulkOrderForm($event)" [formFields]="formFields"></app-form>
  </div>
  <div class="col-lg-6">
    <app-drag-drop [dragDropCls]="dragDropCls" (drop)="onDrop($event)" (dragOver)="onDragOver($event)" (dragLeave)="onDragLeave($event)">
      <app-file-upload (InputChange)="InputChange($event)" [fileDropContainer]="fileDropContainer"></app-file-upload>
      <span class="dragMessage">Drag &amp; Drop your file to upload.</span>
      <div class="file-names">{{fileName}}</div>
    </app-drag-drop>
    <div class="error" *ngIf="isValidFileExtension">Invalid file format! Please select valid .tsv/.txt file format.</div>
    <div class="float-right mt-3">
      <app-button [text]="submitText" (onButtonClick)="onSubmit($event)" [cls]="submitBtnClass" [disabled]="isDisabled() || hideUploadButton"></app-button> &nbsp;
      <app-button [text]="cancelBtnText" [cls]="cancelBtnClass"></app-button>
    </div>
  </div>
</div>
<br>
