<table [ngClass]="gridClass()">
  <thead>
    <tr>
      <th *ngIf="displayCheckBox"><input type="checkbox" (click)="allSelected($event)" [checked]="allItemsSelected"></th>
      <ng-container *ngFor="let colDef of columnDefs">
        <th>
          <div (click)="triggerSort(colDef.config)">
            {{colDef.config.title}}
            <ng-container *ngIf="colDef.config.enableSorting">
              <i class="fa fa-sort"></i>
            </ng-container>
          </div>
        </th>
      </ng-container>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let data of gridData; let index = index">
      <tr>
        <td *ngIf="displayCheckBox">
          <input type="checkbox" [disabled]="disableCheckBox(data)" (click)="rowSelection(data)" [checked]="data.selected">
        </td>

        <ng-container *ngFor="let colDef of columnDefs">
          <ng-container *ngIf="colDef.config.name === 'actions'">
            <td>
              <ng-container *ngFor="let action of colDef.config.actionItems">
                <app-button (onButtonClick)="action.config.click(data,action)" [text]=""></app-button>
              </ng-container>
            </td>
          </ng-container>
          <td>
            <ng-container *ngIf="!isEditable(data,colDef.config)">
              <div class="" (click)="cellClick(data,colDef.config)" [innerHtml]="customTemplate(data,colDef.config,index)"></div>
            </ng-container>
            <ng-container *ngIf="isEditable(data,colDef.config)">
              <ng-container *ngIf="checkTypeofEditableField('i',colDef.config)">
                <input [type]="getInputSubType(colDef.config,index)" [ngClass]="getInputClass(colDef.config,index)" [value]="printValue(data,colDef.config.name,index)" (blur)="onBlur($event,data,colDef.config,index)" [disabled]="disableField(data,colDef.config,index)" />
              </ng-container>
              <ng-container *ngIf="checkTypeofEditableField('s',colDef.config)">
                <app-drop-down [receivedInputData]="printOptonsValue(colDef.config,index)" (selectedInputData)="onChange($event,colDef.config,index)"></app-drop-down>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-container>
    <ng-container *ngIf="gridData.length == 0">
      <td colspan="9">
        <p>{{noRecord}}</p>
      </td>
    </ng-container>
  </tbody>
</table>