.modal-custom {
    .circle-green {
        display: inline-block;
        border-radius: 50%;
        padding: 30px;
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 2.5rem;
        margin: 20px 0px;
        color: #28a745;
        border: 2px solid #28a745;
    }
    .circle-red {
        display: inline-block;
        border-radius: 50%;
        padding: 30px;
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 2.5rem;
        margin: 20px 0px;
        color: #dc3545;
        border: 2px solid #dc3545;
    }
    button {
        margin: 20px 10px;
    }
}