/* Header --------------- */
/* ---------------------- */
#sidebar,
#content {
    margin-top: 3.5rem;
}

/* Sidebar --------------- */
/* ---------------------- */
app-sidebar {
    display: flex;
}

/* Common --------------- */
/* ---------------------- */
body {
    font-family: 'Volkhov', serif;
    font-size: 0.9rem;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#content {
    overflow: auto;
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
}
.error {
    color: #dc3545;
    font-size: 85%;
}