/* Header --------------- */
/* ---------------------- */
#sidebar,
#content {
    margin-top: 3.5rem;
}

/* Sidebar --------------- */
/* ---------------------- */
app-sidebar {
    display: flex;
}

/* Common --------------- */
/* ---------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#content {
    overflow: auto;
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
}
.error {
    color: #dc3545;
    font-size: 85%;
}
@media (min-width: 992px) {
    .pull-right-lg {
        float: right;
    }
}