/* Header --------------- */
/* ---------------------- */
#sidebar,
#content {
    margin-top: 3.5rem;
}

/* Sidebar --------------- */
/* ---------------------- */
app-sidebar {
    display: flex;
}

/* Common --------------- */
/* ---------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#content {
    padding: 20px;
}
